<%- include('header'); -%>

    <body>
        <div class="container">
            <h5>
                <%=hindi%>
            </h5>
            <h5>
                <%=today%>
            </h5>
            <br>
            <form action="/" method="post">
                <div class="mb-3">
                    <!-- <label for="text" class="form-label"> -->
                    <h4>
                        <%= listTitle %>&nbsptasks:
                    </h4>
                    <!-- </label> -->
                    <input type="text" name="text" class="form-control" placeholder="Add task here" autofocus
                        required></input>

                    <button type="submit" name="listTitle" class="btn btn-primary btn-round"
                        value="<%= listTitle %>">+</button>
                </div>
            </form>

            <table class="table table-striped">
                <tbody>
                    <% new_items.forEach(function(item){%>
                        <% if(item.checked==='' ){ %>
                            <tr>
                                <form action="/check" method="post">
                                    <td><input type="checkbox" name="checkbox" onchange="this.form.submit()"
                                            value="<%= item._id %>" <%=item.checked %>/>
                                        <label>
                                            <%= item.task %>
                                        </label>
                                    </td>
                                    <input type="hidden" name="listTitle" value="<%= listTitle %>" />
                                </form>
                            </tr>
                            <%}})%>
                                <% new_items.forEach(function(item){%>
                                    <% if(item.checked!=='' ){ %>
                                        <tr>
                                            <form action="/check" method="post">
                                                <td><input type="checkbox" name="checkbox" onchange="this.form.submit()"
                                                        value="<%= item._id %>" <%=item.checked %>/>
                                                    <label>
                                                        <%= item.task %>
                                                    </label>
                                                </td>
                                            </form>
                                        </tr>
                                        <%}})%>
                </tbody>
            </table>

            <form action="/delete" method="post">
                <button type="submit" name="listTitle" class="btn btn-danger" id="deleteChecked"
                    value="<%= listTitle %>">Delete Completed</button>
            </form>
        </div>
    </body>
    <%- include('scripts'); -%>
        <%- include('footer'); -%>